@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap');

body {
    font-family: 'IBM Plex Sans Thai', sans-serif !important;
    text-decoration: 'none' !important;
    color: white !important;
    display: flex;
    flex-direction: column;
}

body, html {
    min-height: 100vh !important;
}

:root {
    --primaryn: 128, 207, 255;
    --on-primaryn: 0, 52, 76;
    --primary-containern: 0, 76, 109;
    --on-primary-containern: 197, 231, 255;
    --inverse-primaryn: 0, 101, 142;
    --secondaryn: 255, 175, 213;
    --on-secondaryn: 98, 0, 62;
    --secondary-containern: 139, 0, 90;
    --on-secondary-containern: 255, 216, 232;
    --tertiaryn: 228, 197, 33;
    --on-tertiaryn: 58, 48, 0;
    --tertiary-containern: 84, 70, 0;
    --on-tertiary-containern: 255, 226, 76;
    --errorn: 255, 180, 169;
    --on-errorn: 104, 0, 3;
    --error-containern: 147, 0, 6;
    --on-error-containern: 255, 218, 212;
    --surfacen: 25, 28, 30;
    --on-surfacen: 225, 226, 229;
    --surface-variantn: 65, 72, 77;
    --on-surface-variantn: 193, 199, 206;
    --inverse-on-surfacen: 25, 28, 30;
    --inverse-surfacen: 225, 226, 229;
    --surface-1n: 30, 37, 41;
    --surface-2n: 33, 42, 48;
    --surface-3n: 36, 48, 55;
    --surface-4n: 37, 49, 57;
    --surface-5n: 39, 53, 61;
    --backgroundn: 25, 28, 30;
    --on-backgroundn: 225, 226, 229;
    --outlinen: 139, 145, 151;
    --outline-variantn: 65, 72, 77;
    --shadow-1n: 0 1px 3px 1px #00000026, 0 1px 2px #0000004d;
    --shadow-2n: 0 2px 6px 2px #00000026, 0 1px 2px #0000004d;
    --shadow-3n: 0 4px 8px 3px #00000026, 0 1px 3px #0000004d;
    --shadow-4n: 0 6px 10px 4px #00000026, 0 2px 3px #0000004d;
    --shadow-5n: 0 8px 12px 6px #00000026, 0 4px 4px #0000004d;
    --drop-shadow-1n: dropShadow(0 1px 3px #00000026), dropShadow(0 1px 2px #0000004d);
    --drop-shadow-2n: dropShadow(0 2px 6px #00000026), dropShadow(0 1px 2px #0000004d);
    --drop-shadow-3n: dropShadow(0 4px 8px #00000026), dropShadow(0 1px 3px #0000004d);
    --drop-shadow-4n: dropShadow(0 6px 10px #00000026), dropShadow(0 2px 3px #0000004d);
    --drop-shadow-5n: dropShadow(0 8px 12px #00000026), dropShadow(0 4px 4px #0000004d);
}

body {
    color: rgb(var(--surfacen));
    background: rgb(var(--surfacen));
}

nextjs-portal {
    display: none;
}

.res-bg {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left top, rgba(var(--surfacen), 1) 0%, rgba(var(--surfacen), 0.7) 50%, rgba(var(--surfacen), 0) 100%), url("../public/background1.png") !important;
    background-size: cover !important;
    background-position: center;
    z-index: -1;
}

a.cover-welcome {
    font-size: 3rem;
    color: white;
}

a.cover-title {
    font-size: 5rem;
    color: white;
}

a.cover-subtitle {
    font-size: 1.5rem;
    color: white;
}

a.cover-button {
    font-size: 1.5rem;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    background-color: rgba(var(--surface-1n), 0.7);
    transition: ease 0.2s;
    color: white;
}

a.cover-button:hover {
    background-color: rgba(var(--surface-4n), 0.7);
    border-color: white;
    border-width: 1px;
    transition: ease 0.2s;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px)
}

.grid {
    border-radius: 20px;
    padding-bottom: 10px;
    border-color: rgb(var(--outline-variantn));
    border-width: 2px;
    margin: 10px;
    background-color: rgb(var(--surface-4n));
}

.grid-img-con {
    border-radius: 20px 20px 0px 0px;
    background-color: rgb(var(--surface-1n));
    border-color: rgb(var(--outline-variantn));
    border-width: 0px 0px 2px 0px;
    margin-bottom: 15px;
    padding: 5px;
}

.grid-img-con-2l {
    border-radius: 10px;
    background-color: white;
    margin-bottom: 5px;
}

.grid-text {
    margin-bottom: 15px;
}

.anc-title {
    font-size: 1.5rem;
}

.anc-text-extra {
    height: 100%;
}

.footer {
    background-color: rgba(255, 255, 255, 0.5)
}

.footer-title {
    font-size: 2rem;
}

.float-end {
    margin-left: 10px;
}

.grid-img-con img {
    max-height: 100%;
    max-width: 100%;
}

.grid-img-con-2l img {
    max-height: 100%;
    max-width: 100%;
}

.page-cov {
    height: 30vh !important;
}

.nav-link {
    height: 50px
}

.grid-big {
    width: 100% !important;
    height: fit-content !important;
}

.grid-img-con-big {
    width: 400px !important;
    height: 100% !important;
}

@media (max-width: 437px) and (min-width: 0px) {
    text.nav-title {
        font-size: 1.2rem;
    }
    img.nav-logo {
        display: none !important;
    }
    .nav-item {
        font-size: 1rem;
    }
    a.cover-welcome {
        font-size: 1.2rem;
    }
    a.cover-title {
        font-size: 1.7rem;
    }
    a.cover-subtitle {
        display: none;
    }
    a.cover-button {
        font-size: 1rem;
    }
    .grid {
        width: 200px;
        height: 200px;
    }
    .grid-img-con {
        height: 140px;
    }
    .grid-img-con-2l {
        height: 140px;
    }
    .grid-text {
        height: 140px;
    }
    .anc-text {
        font-size: .7rem;
    }
}

@media (max-width: 480px) and (min-width: 437px) {
    text.nav-title {
        font-size: 1.2rem;
    }
    img.nav-logo {
        width: 45px;
        height: 45px;
    }
    .nav-item {
        font-size: 1rem;
    }
    a.cover-welcome {
        font-size: 1.2rem;
    }
    a.cover-title {
        font-size: 2rem;
    }
    a.cover-subtitle {
        font-size: .8rem;
    }
    a.cover-button {
        font-size: .8rem;
    }
    .grid {
        width: 250px;
        height: 250px;
    }
    .grid-img-con {
        height: 190px;
    }
    .grid-img-con-2l {
        height: 190px;
    }
    .grid-text {
        height: 190px;
    }
    .anc-text {
        font-size: .8rem;
    }
}

@media (max-width: 768px) and (min-width: 480px) {
    text.nav-title {
        font-size: 1.5rem;
    }
    img.nav-logo {
        width: 50px;
        height: 50px;
    }
    .nav-item {
        font-size: 1.2rem;
    }
    a.cover-welcome {
        font-size: 1.2rem;
    }
    a.cover-title {
        font-size: 2rem;
    }
    a.cover-subtitle {
        font-size: .8rem;
    }
    a.cover-button {
        font-size: 1rem;
    }
    .grid {
        width: 280px;
        height: 280px;
    }
    .grid-img-con {
        height: 220px;
    }
    .grid-img-con-2l {
        height: 220px;
    }
    .grid-text {
        height: 220px;
    }
    .anc-text {
        font-size: .9rem;
    }
}

@media (max-width: 1200px) and (min-width: 768px) {
    text.nav-title {
        font-size: 1.7rem;
    }
    img.nav-logo {
        width: 60px;
        height: 60px;
    }
    .nav-item {
        font-size: 1.5rem;
    }
    a.cover-welcome {
        font-size: 1.5rem;
    }
    a.cover-title {
        font-size: 3rem;
    }
    a.cover-subtitle {
        font-size: 1.2rem;
    }
    a.cover-button {
        font-size: 1.2rem;
    }
    .grid {
        width: 300px;
        height: 300px;
    }
    .grid-img-con {
        height: 240px;
    }
    .grid-img-con-2l {
        height: 240px;
    }
    .grid-text {
        height: 240px;
    }
    .anc-text {
        font-size: 1rem;
    }
}

@media (min-width: 1201px) {
    .grid {
        width: 300px;
        height: 300px;
    }
    .grid-img-con {
        height: 240px;
    }
    .grid-img-con-2l {
        height: 240px;
    }
    .grid-text {
        height: 240px;
    }
    .anc-text {
        font-size: 1rem;
    }
}